.pessoa__imagem{
    background-image: url('../../img/Nos/mth.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    border-radius: 50%;
}


.pessoa__imagem--roberta{
    background-image: url('../../img/Nos/vt.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    border-radius: 50%;
}

.pessoa__imagem--andreia{
    background-image: url('../../img/Nos/lc.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    border-radius: 50%;
}